In [63]:
#find out top five batsman in terms of run score in 10 seasons

In [64]:
import pandas as pd
import numpy as np

In [65]:
delivery=pd.read_csv('deliveries.csv')

In [67]:
delivery.head(2)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [68]:
delivery.shape

(150460, 21)

In [69]:
#this dataset comtains for every ball the runs so we need to sum all the
#rows that contain like virat kohli name

batsman=delivery.groupby('batsman')
batsman

In [70]:
runs=batsman['batsman_runs'].sum()
runs

batsman
A Ashish Reddy     280
A Chandila           4
A Chopra            53
A Choudhary         25
A Flintoff          62
                  ...
YV Takawale        192
Yashpal Singh       47
Younis Khan          3
Yuvraj Singh      2591
Z Khan             117
Name: batsman_runs, Length: 461, dtype: int64

In [71]:
runs.sort_values(ascending=False)[:5]

batsman
SK Raina     4548
V Kohli      4423
RG Sharma    4207
G Gambhir    4132
DA Warner    4014
Name: batsman_runs, dtype: int64

In [72]:
batsman.get_group('V Kohli')

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
2590,12,1,Royal Challengers Bangalore,Mumbai Indians,1,2,V Kohli,CH Gayle,TG Southee,0,...,0,0,0,0,0,1,1,NaN,NaN,NaN
2591,12,1,Royal Challengers Bangalore,Mumbai Indians,1,3,V Kohli,CH Gayle,TG Southee,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
2593,12,1,Royal Challengers Bangalore,Mumbai Indians,1,5,V Kohli,CH Gayle,TG Southee,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2594,12,1,Royal Challengers Bangalore,Mumbai Indians,1,6,V Kohli,CH Gayle,TG Southee,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
2597,12,1,Royal Challengers Bangalore,Mumbai Indians,2,1,V Kohli,CH Gayle,Harbhajan Singh,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150410,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,12,5,V Kohli,AB de Villiers,Bipul Sharma,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150413,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,13,2,V Kohli,AB de Villiers,BB Sran,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
150414,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,13,3,V Kohli,AB de Villiers,BB Sran,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
150415,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,13,4,V Kohli,AB de Villiers,BB Sran,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
150416,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,13,5,V Kohli,AB de Villiers,BB Sran,0,...,0,0,0,0,0,0,0,V Kohli,bowled,NaN

In [73]:
#in 10 years no. of balls played by virat kohli
batsman.get_group('V Kohli').shape

(3494, 21)

In [74]:
#top 5 batsman that score highest no. of 6s
mask=delivery['batsman_runs']==6
new_delivery=delivery[mask]

In [75]:
sixes=new_delivery.groupby('batsman')
sixes['batsman_runs'].count().sort_values(ascending=False).head(5)

batsman
CH Gayle     266
SK Raina     174
RG Sharma    173
V Kohli      160
DA Warner    160
Name: batsman_runs, dtype: int64

In [76]:
#virat kohli make largest runs against which 3 teams

vk=delivery[delivery['batsman']=='V Kohli']

In [77]:
vk.groupby('bowling_team')['batsman_runs'].sum().sort_values(ascending=False).head(3)

bowling_team
Chennai Super Kings    706
Delhi Daredevils       661
Kings XI Punjab        483
Name: batsman_runs, dtype: int64

In [78]:
#creating function for that, ki batsman ka name den aur vo bataen ki sabse zada runs kis team pr mare
def runs_scored(batsman):
  vk=delivery[delivery['batsman']==batsman]
  return vk.groupby('bowling_team')['batsman_runs'].sum().sort_values(ascending=False).head(1)

In [79]:
runs_scored('V Kohli')

bowling_team
Chennai Super Kings    706
Name: batsman_runs, dtype: int64

In [80]:
runs_scored('DA Warner')

bowling_team
Kolkata Knight Riders    677
Name: batsman_runs, dtype: int64

In [81]:
runs_scored('MS Dhoni')

bowling_team
Royal Challengers Bangalore    608
Name: batsman_runs, dtype: int64

In [82]:
# isin() function

In [83]:
#find the most destructive death over batsman in the history of IPL
#it is calc by Strike rate which is (no. of runs/no. of balls)*100
#and min balls batsman played is 200 in over 16-20(this is death over)
#because if bastman played 1 last baal in entire ipl and score 6 then his
#strike rate will be 600 that is not correct way to calc.

In [84]:
#first we remove rows of <15 over
death_over=delivery[delivery['over']>15]
death_over.sample(5)

(150460, 21)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
95915,405,1,Kings XI Punjab,Sunrisers Hyderabad,20,1,AD Mascarenhas,P Kumar,NLTC Perera,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
42672,181,2,Royal Challengers Bangalore,Kings XI Punjab,17,3,V Kohli,JH Kallis,RS Bopara,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
135496,573,1,Mumbai Indians,Chennai Super Kings,19,5,KA Pollard,AT Rayudu,MM Sharma,0,...,0,0,0,0,0,1,1,NaN,NaN,NaN
16561,71,1,Kolkata Knight Riders,Chennai Super Kings,16,1,LR Shukla,AB Agarkar,M Muralitharan,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
23896,103,1,Kolkata Knight Riders,Chennai Super Kings,16,5,Salman Butt,DB Das,M Muralitharan,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [85]:
#for no. of balls
all_batsman=death_over.groupby('batsman')['batsman_runs'].count()
#and we need those who played >200
all_batsman[all_batsman>200]

batsman
A Mishra             225
AB de Villiers       570
AD Mathews           289
AM Rahane            268
AR Patel             229
AT Rayudu            425
BJ Hodge             385
DA Miller            360
DA Warner            228
DJ Bravo             409
DJ Hussey            234
DPMD Jayawardene     246
Harbhajan Singh      418
IK Pathan            465
JA Morkel            425
JH Kallis            231
JP Duminy            518
JP Faulkner          294
KA Pollard           838
KD Karthik           463
KM Jadhav            338
LRPL Taylor          204
MK Pandey            224
MK Tiwary            423
MS Dhoni            1224
NV Ojha              304
P Kumar              268
PP Chawla            311
R Vinay Kumar        235
RA Jadeja            576
RG Sharma            748
RV Uthappa           275
S Badrinath          283
S Dhawan             243
SK Raina             458
SPD Smith            316
SS Tiwary            300
STR Binny            218
V Kohli              546
WP Saha              295
Y Venugopal Rao      260
YK Pathan            584
Yuvraj Singh         516
Name: batsman_runs, dtype: int64

In [86]:
#we extract these names
batsman_list=all_batsman[all_batsman>200].index.tolist() #tolist convert index object to list

In [88]:
#now we calc strike rate of these batsman

#we use isin() to get data of these batsman
final=delivery[delivery['batsman'].isin(batsman_list)]

In [89]:
runs=final.groupby('batsman')['batsman_runs'].sum()
balls=final.groupby('batsman')['batsman_runs'].count()

In [91]:
sr=(runs/balls)*100

In [94]:
sr.sort_values(ascending=False)

batsman
AB de Villiers      145.129059
YK Pathan           140.751445
KA Pollard          140.621266
DA Warner           138.318401
DA Miller           137.709251
JA Morkel           136.938202
Harbhajan Singh     135.194585
SK Raina            134.995548
MS Dhoni            132.835821
KM Jadhav           130.555556
JP Faulkner         129.802956
SPD Smith           128.507127
RG Sharma           128.497251
WP Saha             127.727646
RV Uthappa          127.635135
V Kohli             126.588437
Yuvraj Singh        126.390244
STR Binny           123.747981
AT Rayudu           123.014257
KD Karthik          123.008475
AR Patel            122.672065
DJ Bravo            122.286822
JP Duminy           121.970624
BJ Hodge            121.422376
AD Mathews          120.868114
DJ Hussey           120.072661
LRPL Taylor         120.070838
RA Jadeja           118.792867
DPMD Jayawardene    118.791064
S Dhawan            118.502496
AM Rahane           117.486549
MK Pandey           116.938453
IK Pathan           116.751269
S Badrinath         115.742972
SS Tiwary           114.851485
NV Ojha             114.528024
MK Tiwary           114.127424
Y Venugopal Rao     113.872832
PP Chawla           110.278373
R Vinay Kumar       106.666667
JH Kallis           105.936272
P Kumar             105.263158
A Mishra             89.005236
Name: batsman_runs, dtype: float64